.box.has-ribbon
  %a.ribbon.is-link{href: edit_editor_fact_path(@fact), data: {turbo_frame: 'happenings'}}
    %i.fas.fa-edit
  %nav.level
    .level-item.has-text-centered
      %div
        %p.heading Dal
        %p.title.is-size-5= l @fact.start_on
    .level-item.has-text-centered
      %div
        %p.heading Al
        %p.title.is-size-5= l @fact.stop_on
    .level-item.has-text-centered
      %div
        %p.heading Date
        %p.title.is-size-5= @fact.happenings_count
    .level-item.has-text-centered
      %div
        %p.heading Posti
        %p.title.is-size-5= @fact.happenings.sum(:max_seats)
    .level-item.has-text-centered
      %div
        %p.heading Prenotazioni
        %p.title.is-size-5= @fact.happenings.sum(:seats_count)
  = @fact.body

