.box.is-inactive
  .columns.is-mobile.is-gapless
    .column.is-narrow
      .figure.image.is-boxed-left-image= image_tag fact.image.variant(resize_to_limit: [200, 88]).processed
    .column
      %h5.title.is-size-5
        %i.fas.fa-calendar-alt
        = fact.title
      %h6.subtitle.is-size-6
        dal
        = l fact.start_on
        al
        = l fact.stop_on
        \|
        = fact.happenings_count
        date programmate
    .column.is-narrow.has-text-right
      %span.subtitle.is-size-6

