%turbo-frame#happening
  .box.has-ribbon
    - if @happening.title.present?
      %h5.title.is-5= icon_text 'fas fa-calendar-day', @happening.title
    %hr
    = info
    %hr
    .trix-content.content= @happening.body if @happening.body?
    %p.notification.has-text-centered
      = t '.active.from'
      = l @happening.start_sale_at, format: :detailed
      = t '.active.to'
      = l @happening.stop_sale_at, format: :detailed
    = content
