#icon= icon('fas fa-home')
#icon-has-text-info= icon('fas fa-home', class: 'has-text-info')
#icon-text= icon_text 'fas fa-home', 'testo'
#icon-text-has-text-info= icon_text 'fas fa-home', 'testo', class: 'has-text-info'
#icon-text-has-icon-text-info= icon_text 'fas fa-home', 'testo', icon_class: 'has-text-info'
