%turbo-frame#yield
  = turbo_frame_tag @happening do
    .box.block
      = happening_title(@happening)
      = @happening.detail
      - if @ticket.persisted?
        = render 'tickets/remove', fact: @fact, happening: @happening, ticket: @ticket
      - elsif @ticket.saleable?
        = render 'tickets/add', fact: @fact, happening: @happening, ticket: @ticket
      - else
        = render 'tickets/inactive', fact: @fact, happening: @happening, ticket: @ticket
