%turbo-frame#yield
  %h3.title.has-text-centered
    %i.fas.fa-calendar
    = @event.title
  .columns
    %aside.column.is-3
      .block
        %figure.image= image_tag @event.image_url(:aside)
    .column
      = render Events::InfoboxComponent.new(event: @event)
      .divider= icon_text 'fas fa-calendar-day', t('activerecord.models.happening.other')
      %turbo-frame#happening
        = render Happenings::DetailComponent.new(happening: @happening, user: current_user)
      .divider= icon_text 'fas fa-ticket-simple', 'Prenotazioni'
      - if current_user.present?
        %turbo-frame#tickets= render Bulmacomp::TurboFrameComponent.new(id: 'tickets', src: tickets_path(filter: {scope: @happening.id}))
      - else
        .has-text-centered= link_to icon_text('fas fa-right-to-bracket', t('login_to_continue')), new_user_session_path, class: 'button is-link is-large', data: {turbo: 'false'}
