%turbo-frame#yield
  %h3.title.has-text-centered
    %i.fas.fa-calendar
    = @event.title
  .columns
    %aside.column.is-3
      .block
        %figure.image= image_tag @event.image_url(:aside)
    .column
      = render Events::InfoboxComponent.new(event: @event)
      .divider= icon_text 'fas fa-calendar-day', t('activerecord.models.happening.other')
      %turbo-frame#happening= render Happenings::DetailComponent.new(happening: @happening, user: current_user)
