= form_with scope: 'filter', url: @url, method: :get, data: {turbo_frame: @turbo_frame, controller: 'form', form_target: 'sender'} do |f|
  = f.hidden_field :scope, value: @scope if @scope.present?
  %nav.panel
    %p.panel-heading= t '.search'
    - if @text == true
      .panel-block
        %p.control.has-icons-left
          = f.text_field :text, placeholder: t('.placeholder'), class: 'input', data: {action: 'keyup->form#delayedSendForm'}
          %span.icon.is-left
            %i.fas.fa-search
    - if @categories.present?
      .panel-block
        .control.has-icons-left
          %div.select.is-fullwidth
            = f.select :category, @categories, include_blank, data: { action: 'form#sendForm' }
            = icon('fas fa-list', class: 'is-left')
    - if @date_range == true
      .panel-block
        %p.control.has-icons-left
          = f.date_field :from, value: Date.today, class: 'input', required: true, data: {action: 'form#sendForm'}
          %span.icon.is-left
            %i.fas.fa-play
      .panel-block
        %p.control.has-icons-left
          = f.date_field :to, class: 'input', data: {action: 'form#sendForm'}
          %span.icon.is-left
            %i.fas.fa-stop
