%turbo-frame#yield
  %h3.title.has-text-centered
    %i.fas.fa-calendar
    = @event.title
  .columns
    %aside.column.is-3
      .block
        %figure.image= image_tag @event.image_url(:aside)
      = render Layout::SearchComponent.new(url: happenings_path, turbo_frame: 'happenings', categories: @categories, scope: @event.id)
    .column
      = render Events::InfoboxComponent.new(event: @event)
      .divider= icon_text 'fas fa-calendar-day', t('activerecord.models.happening.other')
      %turbo-frame#happenings{src: happenings_path(filter: {scope: @event.id})}
