%nav.level{id: "nav_fact_#{fact.id}"}
  .level-item.has-text-centered
    %div
      %p.heading= t 'activerecord.attributes.fact.start_on'
      %p.title.is-size-5= l fact.start_on
  .level-item.has-text-centered
    %div
      %p.heading= t 'activerecord.attributes.fact.stop_on'
      %p.title.is-size-5= l fact.stop_on
  .level-item.has-text-centered
    %div
      %p.heading= t 'activerecord.models.happening.other'
      %p.title.is-size-5= fact.happenings_count
