%turbo-frame#yield
  %h3.title.has-text-centered
    %i.fas.fa-calendar
    = @fact.title
  .columns
    %aside.column.is-3
      %nav.panel
        %p.panel-heading= t 'site.happening.search'
        = form_with scope: 'filter', url: fact_happenings_path(@fact), method: :get, data: {turbo_frame: 'happenings', controller: 'form', form_target: 'sender'} do |f|
          .panel-block
            %p.control.has-icons-left
              = f.text_field :text, placeholder: 'Testo', class: 'input', data: {action: 'keyup->form#delayedSendForm'}
              %span.icon.is-left
                %i.fas.fa-search
          %label.panel-block
            = f.radio_button :type, '', selected: true, data: {action: "form#sendForm"}
            %span= t('future', scope: 'site.happening.scope')
          %label.panel-block
            = f.radio_button :type, 'history', selected: true, data: {action: "form#sendForm"}
            %span= t('history', scope: 'site.happening.scope')
      %figure.image= image_tag(@fact.image.variant(:aside)) 
    .column
      .box
        = render 'nav', fact: @fact
        = @fact.body
      %turbo-frame#happenings{src: fact_happenings_path(@fact)}
