.notification.is-warning.is-light.has-text-centered
  = t 'site.generic.reservable'
  = t 'site.generic.from'
  = l @happening.start_sale_at, format: :detailed
  = t 'site.generic.to'
  = l @happening.stop_sale_at, format: :detailed
