- if @ticket.persisted?
  = turbo_stream.prepend('tickets_list', render(Tickets::TicketComponent.new(ticket: @ticket)))
  = turbo_stream.update("available_#{@ticket.happening_id}", @ticket.happening.tickets_available)
  = turbo_stream.remove("empty")
- else
  = turbo_stream.replace('modal', render(Layout::ModalErrorComponent.new(obj: @ticket)))
