.box.is-inactive
  .columns.is-mobile.is-gapless
    .column.is-narrow.is
      .figure.image.is-boxed-left-image= image_tag ticket.happening.fact.image.variant(resize_to_limit: [150, 68]).processed
    .column
      .title.is-size-6
        %i.fas.fa-calendar-day
        = ticket.happening.fact.title
      .subtitle.is-size-6= l ticket.updated_at, format: :detailed
    .column.is-narrow.has-text-right
      %span.subtitle.is-size-6
        = ticket.seats
        = fas_icon 'chair'

