%turbo-frame#event
  .box.block
    = form_with(model: [:editor, event], data: {turbo_frame: 'yield'}) do |form|
      .field
        = form.label :title
        .control.has-icons-left
          = form.text_field :title, class: 'input'
          .icon.is-small.is-left
            %i.fas.fa-heading
        %p.help.is-danger= event.errors[:title].join(' - ')
      .field
        = form.label :group_id
        %p.control.has-icons-left
          %span.select.is-fullwidth
            = form.select :group_id, @groups.pluck(:title, :id)
          %span.icon.is-small.is-left
            %i.fas.fa-user
        %p.help.is-danger= event.errors[:groups].join(' - ')
      .columns
        .column
          .field
            = t 'activerecord.attributes.event.image'
            .file.has-name.is-fullwidth
              = form.label :image, class: 'file-label' do
                = form.file_field :image, class: 'file-input'
                %span.file-cta
                  %span.file-icon
                    %i.fas.fa-upload
                  %span.file-label Seleziona un file
                %span.file-name
            %p.help.is-danger= event.errors[:image].join(' - ')
        .column
          .field
            = form.label :tickets_frequency
            %p.control.has-icons-left
              %span.select.is-fullwidth
                = form.select :tickets_frequency, Event.tickets_frequencies.keys.map{|e| [t(e, scope: 'site.event.tickets_frequency'),e]}
              %span.icon.is-small.is-left
                %i.fas.fa-calendar
            %p.help.is-danger= event.errors[:groups].join(' - ')
        .column
          .field
            = form.label :single
            %p.control.has-icons-left
              %span.select.is-fullwidth
                = form.select :single, [[t('yes'), true],[t('no'), false]]
              %span.icon.is-small.is-left
                %i.fas.fa-calendar
            %p.help.is-danger= event.errors[:groups].join(' - ')
      .field
        = form.label :body
        = form.rich_text_area :body
        %p.help.is-danger= event.errors[:body].join(' - ')
      .columns
        .column.is-9.field
          = form.label :where
          .control.has-icons-left
            = form.text_field :where, class: 'input'
            .icon.is-small.is-left
              %i.fas.fa-map-marker
          %p.help.is-danger= event.errors[:body].join(' - ')
        .column.field
          = form.label :pinned
          .control.has-icons-left
            %span.select.is-fullwidth= form.select :pinned, [['SI',true],['No',false]], include_blank: false
            %span.icon.is-small.is-left
              %i.fas.fa-user
          %p.help.is-danger= event.errors[:pinned].join(' - ')
      .has-text-centered
        .buttons
          = form.button fas_icon('save', text: t('site.generic.save')), class: 'button is-success'
          - if event.persisted?
            %a.button.is-link{href: editor_event_path(event)}= fas_icon 'chevron-left', text: 'Indietro'
            = link_to icon_text('fas fa-trash', 'Elimina evento'), editor_event_path(event), class: 'button is-warning', data: {turbo_method: :delete, turbo_confirm: 'Attenzione l`evento, le date e tutte le prenotazioni saranno eliminate, confermi?', turbo_frame: 'yield'}
          - else
            = link_to icon_text('chevron-left', 'Indietro'), editor_events_path, data: {turbo_frame: 'yield'}, class: 'button'
