%a.box.is-hoverable.mb-2{id: "editor_ticket_#{ticket.id}", href: edit_editor_ticket_path(ticket), data: {turbo_frame: 'modal'}}
  .columns.is-mobile.is-gapless
    .column
      %span.title.is-size-5
        %i.fas.fa-calendar-day
        = ticket.user.username
      
      %span.subtitle.is-size-6= l ticket.updated_at, format: :detailed
      .subtitle.is-size-6= ticket.happening.fact.title
    .column.is-narrow.has-text-right
      %span.subtitle.is-size-6
        = ticket.seats
        = fas_icon 'chair'

