%section{ data: { controller: 'section', section_url: list_admin_groups_path}}
  %h3.title.has-text-centered
    %i.fas.fa-users
    Gestione
    = t 'activerecord.models.group.other'
  .columns
    %aside.column.is-3
      %nav.panel
        %p.panel-heading= t 'site.users.search'
        = form_with scope: 'filter', url: list_admin_groups_path, method: :get, data: {remote: true, action: "ajax:success->section#goPage"} do |f|
          .panel-block
            %p.control.has-icons-left
              = f.text_field :text, placeholder: 'Testo', class: 'input', data: {action: 'keyup->section#delayedSendForm'}
              %span.icon.is-left
                %i.fas.fa-search
          .panel-block= link_to fas_icon('plus fa-fw', text: 'Nuovo gruppo'), new_admin_group_path, class: 'is-link', data: {action: "ajax:success->page#goPage", remote: true}

    .column{ data: { target: 'section.container' } }
      


