%h3.title.has-text-centered
  %i.fas.fa-users
  Gestione
  = t 'activerecord.models.user.other'
.columns
  %aside.column.is-3
    %nav.panel
      %p.panel-heading= t 'site.users.search'
      = form_with scope: 'filter', url: list_admin_users_path, method: :get, data: {turbo_frame: 'users', controller: 'form', form_target: 'sender'} do |f|
        .panel-block
          %p.control.has-icons-left
            = f.text_field :text, placeholder: 'Testo', class: 'input', data: {action: 'keyup->form#delayedSendForm'}
            %span.icon.is-left
              %i.fas.fa-search
        %label.panel-block
          = f.check_box :editor, data: {action: "form#sendForm"}
          %span.icon
            %i.fas.fa-user-cog
          Editori
        %label.panel-block
          = f.check_box :admin, data: {action: "form#sendForm"}
          %span.icon
            %i.fas.fa-user-shield
          Amministratori
  .column
    %turbo-frame#users{src: list_admin_users_path}}
