.box.has-ribbon
  %a.ribbon.is-link{href: edit_editor_fact_happening_path(@fact, @happening), data: {turbo_frame: 'tickets'}}
    %i.fas.fa-edit
  %nav.level
    .level-item.has-text-centered
      %div
        %p.heading Del
        %p.title.is-size-6= l @happening.start_at, format: :short
    .level-item.has-text-centered
      %div
        %p.heading Inizio prenotazioni
        %p.title.is-size-6= l @happening.start_at, format: :short
    .level-item.has-text-centered
      %div
        %p.heading termine prenotazioni
        %p.title.is-size-6= l @happening.start_at, format: :short
  %nav.level
    .level-item.has-text-centered
      %div
        %p.heading posti
        %p.title.is-size-6= @happening.max_seats
    .level-item.has-text-centered
      %div
        %p.heading Per prenotazione
        %p.title.is-size-6= @happening.max_seats_for_ticket
    .level-item.has-text-centered
      %div
        %p.heading Prenotati
        %p.title.is-size-6= @happening.seats_count
    .level-item.has-text-centered
      %div
        %p.heading Liberi
        %p.title.is-size-6= @happening.max_seats - @happening.tickets_count
