%h3.title.has-text-centered
  %i.fas.fa-tools
  = @fact.title
.columns
  %aside.column.is-3
    %nav.panel
      %p.panel-heading= t 'site.editor.ticket.search'
      = form_with scope: 'filter', url: editor_fact_happening_tickets_path(@fact,@happening), method: :get, data: {turbo_frame: 'tickets', controller: 'form', form_target: 'sender'} do |f|
        .panel-block
          %p.control.has-icons-left
            = f.text_field :text, placeholder: 'Nome', class: 'input', data: {action: 'keyup->form#delayedSendForm'}
            %span.icon.is-left
              %i.fas.fa-search
      %a.panel-block{href: export_editor_fact_happening_tickets_path(@fact, @happening, format: :csv)}= fas_icon 'file-csv', text: t('site.editor.ticket.export_pdf')
      %a.panel-block{href: edit_editor_fact_happening_path(@fact, @happening), data: {turbo_frame: 'tickets'}}= fas_icon 'edit', text: 'Modifica ingresso'
      %a.panel-block{href: new_editor_fact_happening_ticket_path(@fact, @happening), data: {turbo_frame: 'tickets'}}= fas_icon 'plus', text: 'Aggiungi prenotazione'
      %a.panel-block{href: editor_fact_path(@fact)}= fas_icon 'chevron-left', text: 'Indietro'
    %figure.image= image_tag(@fact.image.variant(resize_to_limit: [318,318]).processed)
  .column
    = render 'editor/facts/box'
    %h4.title.is-size-5.has-text-centered
      %i.fas.fa-calendar-day
      Ingresso
      = @happening.code
    = render 'box'
    %turbo-frame#tickets{src: editor_fact_happening_tickets_path(@fact,@happening)}
