!!! 5
%html.no-js{lang: 'it'}
  %head
    %meta{ charset: "utf-8" }
    %meta{ "http-equiv": 'X-UA-Compatible', content: 'IE=edge' }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ name: 'description', content: "#{Settings.subtitle}" }
    %title= Settings.title
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbo-track': 'reload'
  %body{ data: { controller: "page" } }
    %header
      %turbo-frame#nav1{ src: Settings.header}
      = render partial: 'nav'
    %section.section
      .container
        %turbo-frame#yield= yield
    %footer 
      %turbo-frame#footer{src: Settings.footer}

